*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} 

body{
    font-size: 15px;
    color: #000000; background: #fff;
    font-family: 'FiraSans-Regular';
    line-height: 1.5;
}


@import 'mixin';
.container{
    @include container;
}

main{
    header{
      width: 100%;
      padding: .8rem 0;
      .header-content{
          @include flex;
          justify-content: $between;
       .logo{ 
        //    width: 30%;
           img{
               max-width: 100%;
           }
        }
        nav{
            width: 90%;
            .nav-item-wrp{
                @include flex;
                justify-content: $between;
                .L01{
                    width: 70%;
                }
                .R01{
                    width: 21%;
                   ul{
                       justify-content: $Fend;
                       li{
                           a{
                               color: #000!important;
                           }
                       }
                   }
                }
                .hvr-underline-from-center{
                    &::before{
                        background: $fff;
                        height: 2px;
                    }
                }
                .nav-cmn{
                    // width: 50%;
                    ul{
                        @include flex;
                        justify-content: $around;
                        li{
                           padding: .5rem 0;
                           a{
                               font-size: 1.1em;
                               text-decoration: $none;
                               text-transform: $cap;
                               line-height: 1.5;
                               letter-spacing: 1px;
                               word-spacing: 1px;
                               color: $fff;
                           }
                        }
                    }
                }
            }
        }
      }
    }

    // ---header---finish----end--here---//


    // ---Banner------ //

    .Banner-Wrapper{
       width: 100%;
       position: relative;
       .bg-banr{ 
        position: absolute;
        right: 35vw;
        bottom: 0;
        width: 100vmax;
        min-width: 680px;
        height: 100vmax;
        min-height: 680px;
        border-radius: 68px;
        overflow: hidden; 
        transform: rotate(  -13deg );
        background: $site-color;
        z-index: -1;
        img{
            width: 100%; 
            position: absolute;
            top: auto;
            bottom: 0px;
            right: -115px;
            height: auto; 
            transform: rotate(1deg);
            mix-blend-mode: hard-light;
            filter: opacity(0.5);
            animation: imgainme 24s linear infinite;
        }
        @keyframes imgainme {
             0%,100%{
                //  transform:rotateZ(45deg);
                 transform: translateX(80px);
                 transition: $transition;
                 right: -200px;  
             }
             50%{
                 transition: $transition;
                //  transform: rotateZ(0deg);
                transform: translateX(-80px);
             }
        }
       }
       
       .Banner-content{
           @include flex;
           justify-content: $between;
        //    align-items: $inherit;
           .Bnr-Lft {
               width: 70%;
               h1,h2{
                   font-size: 4em;
                   font-weight: $blder;
                   text-transform: $cap;
                   letter-spacing: 1px;
                   word-spacing: 2px;
                   color: $fff;
                   line-height: 1.5;
               }
               .price-cmn{
                   display: none;
               }
               p{
                   font-size: 1.1em;
                   text-transform: $cap;
                   color: $fff;
                   line-height: 1.5;
                   padding: 1rem 3rem 1rem 0;
                   word-spacing: 1px;
                   letter-spacing: 1px;
               }
               a{
                   background: $fff;
                   padding: 1rem 3.5rem;
                   text-transform: $cap;
                   color:$site-color;
                   font-weight: bold;
                   border-radius: 5px;
                   display: inline-block;
                   font-size: 1.5em;
                   text-decoration: $none;
                   margin: 1rem 0 0;
               }
               .hvr-shutter-out-horizontal{ 
                   &:hover{
                       color: $fff;
                       transition: $transition;
                   }
                   &::before{
                       background: $site-color;
                       border-radius: 5px;
                       color: $fff!important;
                   }
               }
           }
           .Bnr-Rgt{
               width: 30%;
               ul{
                   justify-content: flex-end;
                   text-align: right;
                   width: 45px;
                   margin: 0 0 auto auto;
                   li{
                       display: block;
                       padding: .5rem 0;
                       a{
                            width: 45px;
                            height: 45px;
                            display: inline-block;
                           img{
                             width: 40px;
                             height: 40px;
                             object-fit: contain;
                             filter: contrast(0);
                             transition: $transition;
                             &:hover{
                                filter: opacity(.58);
                                transition: $transition;
                             } 
                           }
                       }
                   }
                   .List_active{
                    a{
                        img{
                            filter: contrast(1);
                            transition: $transition;
                            transform: scale(1.1);
                        }
                    }
                   }
               }
           }
       }
    } 

}

 